html {
    font-size: 62.5%; //1rem = 10px
    // overflow-x: hidden;
    background-color: #fff;
}

body {
font-size: 1.6rem;
overflow-x: hidden;
// line-height: 1.7;
letter-spacing: 0.02rem;
}

h2{
    font-weight: 900;
    font-size: 4rem;
    padding-bottom: 0.5rem;
}

.subtitle{
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: 0.03rem;
}

.big{
    font-size: 4rem;
}

.f900{
    font-weight: 900;
}

a{
    color: #fff;
    transition: $transition;
    border-radius: $border-radius;
    &:hover{

    }
}
.hoverbox{
    border-radius: $border-radius;
    &:hover{
        border-radius: $border-radius;
        // border: 1px solid #fff;
        background-color: #fff;
        color: $primary;
        padding: 0.4rem;
    }
}

.color-dark{
    color: $dark;
}
.color-grey{
    color: $grey;
}
.color-primary{
    color: $primary;
}
.color-white{
    color: #fff;
}
.color-black{
    color: #000;
}
.bg-primary{
    background-color: $primary;
}
.dc-btn{
    border: 2px solid #ffffff;
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // padding: 1rem;
    padding: 1rem 2rem 0.8rem 1.1rem;
    transition: $transition;
    transition-duration: 0.3s;
    path,rect,svg,g,ellipse{
        transition: $transition;
        transition-duration: 0.3s;
    }
    &:hover{
        path,rect,svg,g,ellipse{
            fill: $primary;
        }
        background-color: #fff;
    }
}

.underline{
    text-decoration: underline;
}

a.underline{
    // border: 1px solid transparent;
    // border-bottom: 1px solid #fff;
    &:hover{
        text-decoration: none;
    }
}